/* RESET & VARIABLES */

:root {
  color-scheme: dark light;

  /* Colors */
  --color-background: #303030;
  --color-background-dark: #202020;
  --color-background-light: #ffffff;
  --color-background-footer: #f0f0f0;
  --color-text: #f5f5f5;
  --color-accent: yellow;
  --color-success: green;
  --color-error: red;
  --color-primary: yellowgreen;
  --color-secondary: floralwhite;
  --color-dark: #000000;
  --color-custom: #888;
  --color-btn-hover: #009cd8;

  --font-base: "Press Start 2P", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;

  /* Font sizes */
  --font-size-sm: 1.2rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 3.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-base);
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}
