/* BUTTONS */
/* ============================= */
.btn {
  display: inline-block;
  padding: var(--spacing-sm) var(--spacing-lg);
  font-family: var(--font-base);
  font-size: var(--font-size-md);
  color: var(--color-dark);

  background-color: var(--color-background-light);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;

  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
  background-color: var(--color-secondary);
}

.btn:active {
  transform: translateY(1px);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Button Variant: Check */
.btn--check {
  width: 100%;
  max-width: 30rem;
  letter-spacing: 0.2rem;
}

/* Button Variant: Again */
.btn--again {
  background-color: var(--color-primary);
}

/* Button Variant: Contact */
.btn--contact {
  text-decoration: none;
  padding: var(--spacing-xs) var(--spacing-md);
  background-color: var(--color-primary);
  color: var(--color-dark);
  border-radius: var(--radius-sm);
}

.btn--contact:hover {
  background-color: var(--color-btn-hover);
}

/* INPUTS */
/* ============================= */

.game-info__input {
  width: 100%;
  max-width: 30rem;

  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);

  text-align: center;
  background: transparent;

  border: 2px solid var(--color-secondary);
  border-radius: var(--radius-sm);

  font-family: var(--font-family-accent);
  font-size: var(--font-size-lg);
  color: var(--color-secondary);

  outline: none;
  transition: border-color 0.25s ease;
}

.game-info__input:focus {
  border-color: var(--color-primary);
}

/* SECRET NUMBER DISPLAY */
/* ============================= */

.secret-number {
  font-size: var(--font-size-xl);
  color: var(--color-secondary);

  width: 15rem;
  padding-block: 3rem;

  background: var(--color-background-dark);
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-md);

  text-align: center;
  transition: width 0.3s ease;
}

/* GAME INFO PANEL */
/* ============================= */

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-lg) var(--spacing-md);
  border-radius: var(--radius-md);
  /* TODO */
  width: 100%;
}

.game-info__message {
  font-size: var(--font-size-md);
}

/* Controls (input + check button) */
.game-info__controls {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;
  align-items: center;
  max-width: 30rem;
}

/* Stats panel (score + highscore) */
.game-info__stats {
  font-size: var(--font-size-md);
  line-height: 1.6;
  text-align: center;
  /* TODO */
  margin-left: 80rem;
}

/* FOOTER LOGO */
/* ============================= */

.footer__logo {
  width: 8rem;
  border-radius: var(--radius-md);
  opacity: 0.9;
  transition: opacity 0.2s ease;
}

.footer__logo:hover {
  opacity: 1;
}

/* TODO */
/* RESPONSIVE STYLES */
/* ============================= */
