@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  line-height: 1.5;
  min-height: 100vh;
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 0.7rem solid #eee;
  display: flex;
  align-items: center;
}

.header__title {
  font-size: clamp(2.4rem, 4vw, 4rem);
  text-align: center;
  margin-bottom: 1rem;
}

main {
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  color: #eee;
}

.container {
  width: min(100%, 120rem);
  margin-inline: auto;
  padding-inline: 1.6rem;
}

.game-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  max-width: 120rem;
  margin-inline: auto;
}

.game-input {
  flex: 1 1 40rem;
  max-width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.game-info {
  flex: 1 1 40rem;
  max-width: 52rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
